<li class="job list-group-item d-flex align-items-center border-0 mb-2 rounded {% if job.status == 0 %} done {% endif %}" id="container-job-{{ job.id }}" style="background-color: #f4f6f7;">
	<input class="form-check-input me-2 job{{ job.id }}" onchange="changeJob({{ job.id }})" id="job{{ job.id }}" data-id="{{ job.id }}" type="checkbox" aria-label="..." {% if job.status == 0 %} checked {% endif %}/>
	<label class="form-check-label" for="job{{ job.id }}">
		{{ job.name}}
	</label>
	<div class="job-right-content">
		<span class="date-finish">
			{% if job.DateFinish %}
				{{ job.DateFinish|date('Y-m-d H:i') }}
			{% endif %}
		</span>
		<i title='Удалить' class="fa fa-times mt-1 delete-job" onclick="deleteJob({{ job.id }})"></i>
	</div>
</li>
